table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: #60a75d;
}

tr {
    background: #2ab624;
    color: white;
    font-weight: bold;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
}
