<link href="css\FormDesign.css" rel="stylesheet">
<div>
	<form action="Create" method="post">
		<div class="row">
			<div class="col-25">
				<label for="fname">Teacher Name</label>
			</div>
			<div class="col-75">
				<!-- Note: The name attribute should match the variable name on the model class-->
				<input type="text" id="TeacherName" name="TeacherName" placeholder="Your name..">
			</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="lname">Age</label>
			</div>
			<div class="col-75">
				<!-- Note: The name attribute should match the variable name on the model class-->
				<input type="text" id="TeacherAge" name="TeacherAge" placeholder="Your Age..">
			</div>
		</div>
		<div class="row">
			<input type="submit" value="Save">
		</div>
	</form>
</div>